{% extends "crud/layouts/base.html" %}
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Well Come To API VIEW
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- START ACCORDION & CAROUSEL-->
        <!-- END ACCORDION & CAROUSEL-->
        <!-- /.row -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Entry List</h3>
                        <div class="box-tools">
                            <div class="input-group-btn">
                                    <a href="{% url 'crud_index' %}"><button type="button" class="btn btn-block btn-primary">HTML view</button></a>
                                </div>
                            <div class="input-group input-group-sm" style="width: 75px;">
                                <div class="input-group-btn">
                                    <a href="{% url 'create_page' %}"><button type="button" class="btn btn-block btn-primary">Create</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    {% if apiData %}
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>ID</th>
                                <th>Questions</th>
                                <th>Answers</th>
                                <th>Status</th>
                                <th style="width: 150px">Action</th>
                            </tr>
                            {% for data in apiData %}
                            <tr>
                                <td>{{data.id}}</td>
                                <td>{{data.question}}</td>
                                <td>{{data.answer}}</td>
                                <td>{{data.isActive}}</td>
                                <td>
                                    <a class="btn btn-success" type="button" href="{% url 'edit_page' data.id %}">Edit</a>
                                    <button class="btn btn-danger" type="button" onclick="deleteTag(data.id)">
                                        <i class="material-icons">delete</i>
                                    </button>
                                    <form id="delete-form-{{data.id}}" action="{% url 'crud_delete' data.id %}" method="POST">
                                        {% csrf_token %}
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                        <div class="continer">
                            <div class="col-xs-12">
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>ID</th>
                                <th>Questions</th>
                                <th>Status</th>
                                <th style="width: 150px">Action</th>
                            </tr>
                        </table>
                        <div class="login-box">
                            <h1 style="color: red;">No Data Availabe</h1>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>
</div>

{% endblock content %}